*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    background-color:cyan;
    height: 100vh;

}

.sottotitolo{
    text-align: center;
    font-size: 12px;
}
.tasks{
    background-color: rgb(127, 147, 207);
    border:none;
    padding: 20px;
    margin: 15px;
    
}

.completed_tasks{
    background-color: white;
    margin:20px;
    padding: 5px;
    border-radius: 3px;

}

.trash{
    background-color: white;
    margin: 20px;
}

